---
import { PERMALINK_ROOTS } from "@comptime";

interface Props {
    chin?: boolean
}

const {
    chin = true
} = Astro.props;

const isCityNews = Astro.url.pathname.includes("/icenia-city/news/");
const newsUrl = isCityNews ? PERMALINK_ROOTS.cityNews : PERMALINK_ROOTS.news;

import PageLayout from "@layouts/page.astro";
---
<PageLayout chin={chin}>
    <a href={newsUrl} class="govuk-back-link">Go to news</a>
    <slot/>
</PageLayout>
