---
interface Props {
    chin?: boolean,
    title?: string,
    description?: string,
    keywords?: string[],
    noheader?: boolean
}

const {
    chin = true,
    title,
    description,
    keywords = [],
    noheader = false
} = Astro.props;

import DefaultLayout from "@layouts/default.astro";
---
<DefaultLayout title={title} description={description} keywords={keywords} noheader={noheader}>
    <div class="govuk-width-container">
        {chin
            ? (<style>main.govuk-main-wrapper { padding-top: 20px !important; }</style>)
            : (<style>main.govuk-main-wrapper { padding-top: 0 !important; }</style>)}
        <main class="govuk-main-wrapper govuk-body" id="main-content" role="main">
            <slot/>
        </main>
    </div>
</DefaultLayout>
