name: "IceniaGov Site Build"

on:
  push:
    branches:
      - "master"
  workflow_dispatch: {}

permissions:
  contents: write

jobs:
  release:
    runs-on: "ubuntu-latest"
    steps:
      - uses: "actions/checkout@v4"

      - name: Setup bun.sh
        uses: oven-sh/setup-bun@v1

      - name: Installing dependencies
        run: bun install

      - name: Sync Officials
        run: bun run sync-officials

      - name: Update Discord Avatars
        run: bun run update-avatars

      - name: Commit and Push Changes
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"
          git add src/data/officials.yml src/data/councillors.yml
          if ! git diff --cached --quiet; then
            git commit -m "Update officials data [skip ci]"
            git push
          else
            echo "No changes to commit"
          fi

      - name: Build site
        run: bun run build

      - name: Deploy to GitHub Pages
        if: success()
        uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: gh-pages
          build_dir: dist
        env:
          # This should be automatically created by Github
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
